html, body{
    margin: 0;
    padding: 0;
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
    overflow-x: hidden;
    background: black;
}

main{
    min-height: 100vh;
    padding-top: 10vh;
    background: linear-gradient(270deg, #164A41 30%, #4D774E 50%, #9DC88D 100%);
}

@media (max-width: 768px) {
    main{
        background: linear-gradient(270deg, #164A41 20%, #4D774E 70%, #9DC88D 100%);
    }
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #f99c06;
}

.btn {
    background: #f99c06;
    color: white;
    min-width: 15vw;
    margin-top: 2vh;
  }

.btn:hover {
    background: #c37800;
    color: white;
}
