html, body{
    margin: 0;
    padding: 0;
    color: white
}

main{
    min-height: 100vh;
    padding-top: 10vh;
    background: linear-gradient(270deg, #164A41 30%, #4D774E 50%, #9DC88D 100%);
}

a{
    text-decoration: none;
    color: white;
}

a:hover{
    color: #f99c06;
}

.btn {
    background: #f99c06;
    color: white;
    width: 50%;
    margin: auto;
    margin-top: 2vh;
  }
